/*
* Author: Łukasz Holeczek
* Template: Metro Admin Template - Bootstrap Theme
* Version: 1.0.0
* Bootstrap version: 2.3.1
* Copyright 2013 creativeLabs
* www: http://clabs.co
* mail: lukasz@clabs.co
* You can buy this theme on WrapBootstrap: https://wrapbootstrap.com/user/creativelabs
*/

/* Import Section
=================================================================== */
@import url("jquery-ui-1.8.21.custom.css");								/* jQuery User Interface Framework Styles */
/*@import url("fullcalendar.css");*/										/* Calendars Styles */
/*@import url("chosen.css");	*/											/* Select Boxes Styles */  
/*@import url("uniform.default.css");	*/									/* Uniform Styles */
@import url("jquery.cleditor.css");										/* Text Editor Styles. */  
@import url("jquery.noty.css");											/* Noty Notifications Style */
/*@import url("noty_theme_default.css");		*/							/* Noty Notifications Style */
/*@import url("elfinder.min.css");	*/									/* File Manager Style */
/*@import url("elfinder.theme.css");	*/									/* File Manager Style */
@import url("jquery.iphone.toggle.css");								/* Styles for iPhone */
@import url("uploadify.css");											/* Uploadify Styles */
@import url("jquery.gritter.css");										/* Growl Like Notifications Styles */
@import url("font-awesome.min.css");									/* Font Awesome Styles */
@import url("font-awesome-ie7.min.css");								/* Font Awesome Styles */
@import url("glyphicons.css");											/* Glyphicons Font */
@import url("halflings.css");											/* Glyphicons Halflings Font */
/*@import url("style-forms.css");*/											/* Forms */

/* Main Colors
=================================================================== */

.black,
.black [class="box-header"],
.black.box,
.slider.black .ui-slider-range, 
.progress.black .ui-progressbar-value
.sliderVertical.black .ui-slider-range,
.progressSlim.black .ui-progressbar-value {
	background: #222 !important;
	border-color: #222 !important;
	color: #fff;
}

.black .box-header h2 i,
.black .box-header .box-icon i,
.black .box-header .box-icon i:hover {
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.green,
.green [class="box-header"],
.green.box,
.slider.green .ui-slider-range, 
.progress.green .ui-progressbar-value,
.sliderVertical.green .ui-slider-range,
.progressSlim.green .ui-progressbar-value,
.label-success,
.badge-success {
	background: #00A300 !important;
	border-color: #00A300 !important;
	color: #fff;
}
.label-danger,
.badge-danger {
  background: #35373478  !important;
  border-color: #35373478  !important;
  color: #fff;
}

.greenDark,
.greenDark [class="box-header"],
.greenDark.box,
.slider.greenDark .ui-slider-range, 
.progress.greenDark .ui-progressbar-value,
.sliderVertical.greenDark .ui-slider-range,
.progressSlim.greenDark .ui-progressbar-value {
	background: #1E7145 !important;
	border-color: #1E7145 !important;
	color: #fff;
}

.greenLight,
.greenLight [class="box-header"],
.greenLight.box,
.slider.greenLight .ui-slider-range, 
.progress.greenLight .ui-progressbar-value,
.sliderVertical.greenLight .ui-slider-range,
.progressSlim.greenLight .ui-progressbar-value {
	background: #99B433 !important;
	border-color: #99B433 !important;
	color: #fff;
}



.label,
.badge {
  	text-shadow: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 12px;
	padding: 3px 6px;
}

.label {
	-webkit-border-radius: 0px;
       -moz-border-radius: 0px;
          	border-radius: 0px;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #a7a9aa;
  -webkit-border-radius: 0px !important;
  border-radius: 0px !important;
}

.btn i {
	margin-top: 2px;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus {
  color: #fff;
  text-decoration: none;
}

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: default;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-large {
  padding: 11px 14px;
  font-size: 17.5px;
  border-radius: 0px;
}

.btn-small {
  padding: 2px 10px;
  font-size: 11.9px;
  border-radius: 0px;
}

.btn-mini {
  padding: 0 6px;
  font-size: 10.5px;
  border-radius: 0px;
}

.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-block + .btn-block {
  margin-top: 5px;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}



.btn:hover,
.btn:focus,
.btn:active {
  background-color: #9a9c9d;
  border-color: #8d9091;
}

.btn.disabled:hover,
.btn[disabled]:hover,
fieldset[disabled] .btn:hover,
.btn.disabled:focus,
.btn[disabled]:focus,
fieldset[disabled] .btn:focus,
.btn.disabled:active,
.btn[disabled]:active,
fieldset[disabled] .btn:active {
  background-color: #a7a9aa;
  border-color: #a7a9aa;
}



.btn-warning {
  background-color: #FFC40D;
  border-color: #FFC40D;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active {
  background-color: #eea236;
  border-color: #ec971f;
}

.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active {
  background-color: #FFC40D;
  border-color: #FFC40D;
}

.btn-danger {
  background-color: #EB3C00;
  border-color: #EB3C00;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
  background-color: #d43f3a;
  border-color: #c9302c;
}

.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active {
  background-color: #EB3C00;
  border-color: #EB3C00;
}

.btn-success {
  background-color: #00A300;
  border-color: #00A300;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active {
  background-color: #4cae4c;
  border-color: #449d44;
}

.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active {
  background-color: #00A300;
  border-color: #00A300;
}

.btn-info {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active {
  background-color: #46b8da;
  border-color: #31b0d5;
}

.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.btn-link,
.btn-link:active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}

.btn-link {
  font-weight: normal;
  color: #2D89EF;
  cursor: pointer;
  border-radius: 0;
}

.btn-link:hover,
.btn-link:focus {
  color: #2a6496;
  text-decoration: underline;
  background-color: transparent;
}

.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #333333;
  text-decoration: none;
}


=================================================================== */

